// Place all the styles related to the maomaos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.templates_container {
    display: flex;
    align-items: center;
}
    .template {
        float: left;
        padding: 10px 10px;
        text-align: center;
    }
    