// Place all the styles related to the maomaos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.wrapper {
    display: flex;
    overflow-x: scroll;
}

.templates_container {
    height: 120px;
    width: 120px;
    border: dotted;
}

    .template {
        height: 100px;
        width: 100px;
        margin: 10px;
}
.template:not(:last-child) {
    margin-right: 10px;
}